ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    margin-top: 25px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 217px;
}

.searchbox{
    border: 1px solid gainsboro;
    width: 570px;
    height:43px;
    margin-left: 540px;
    margin-top: 25px;
    border-top-left-radius: 50cm;
    border-top-right-radius: 50cm;
    border-bottom-left-radius: 50cm;
    border-bottom-right-radius: 50cm;
}
.search{
    font-size: 14px;
}
.lucky{
    font-size: 14px;
    display: flex;
}


